.about-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-wrapper {
    width: 100%;
    max-width: 1040px;
    margin-top: 30px;

    >p {
        background-color: rgb(63, 126, 163);
        padding: 10px 15px;
        font-size: 1.1rem;
        color: white;
    }

    >div {
        border: 1px solid black;
        border-bottom: none;
        display: flex;
        align-items: center;

        &:last-child {
            border-bottom: 1px solid black;
        }

        >h3 {
            width: 200px;

            &:first-child {
                padding: 0 10px;
                border-right: 1px solid black;
            }
        }

        >p {
            font-size: 1.1rem;
            padding: 10px;
        }
    }
}

.about-title {
    text-align: center;
}

.about-company-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.about-text {
    text-align: center;
    line-height: 30px;
    max-width: 850px;
    margin: 50px 0 20px;
    font-size: 1.1rem;
}

.app-update,
.app-update-check {
    background-color: rgb(255, 208, 0);
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;

    &:hover {
        background-color: rgb(255, 196, 0);
    }
}