@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    user-select: none;
}


.loading-wrapper {
    text-align: center;

    >p {
        margin: 10px 0;
    }
}

.spinner {
    display: flex;
    justify-content: center;
}

.loading-svg {
    width: 50%;
    max-width: 10rem;
    animation: rotate 2.6s linear infinite;
}

.loading-circle {
    fill: none;
    stroke: #444;
    stroke-width: 8px;
    stroke-dasharray: 300;
    animation: outline 2s cubic-bezier(0.77, 0, 0.18, 1) infinite;
}

@keyframes outline {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 300;
    }

    100% {
        stroke-dashoffset: 600;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(-1turn);
    }
}