@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

body {
    background-color: rgb(245, 245, 245);
}

button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

h1,
h2 {
    font-weight: 500;
}

h3,
h4,
h5,
h6 {
    font-weight: 300;
}

ul,
li {
    list-style: none;
}